@import "tailwindcss";

:root {
  /* Définition de vos couleurs et polices personnalisées */
  --background: #353839;
  --foreground: rgb(74, 74, 74);
  --color-primary: #E35336;
  --color-secondary: #CC7722;
  --color-tier: #008000;
  --color-other: white;
  --color-danger: #FF0000;

  /* Pour surcharger les polices par défaut de Tailwind */
  --font-sans-custom: 'Montserrat', sans-serif;
  --font-serif-custom: 'Cinzel Decorative', serif; 
}

@theme {
  /* Assignation de vos variables au thème de Tailwind */

  /* Couleurs */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tier: var(--color-tier);
  --color-other: var(--color-other);
  --color-danger: var(--color-danger);


  --myshadow: 10px 5px 20px rgba(74, 74, 74, 1);

  /* Polices (ici on surcharge les polices par défaut `sans` et `serif`) */
  --font-sans: var(--font-sans-custom);
  --font-serif: var(--font-serif-custom);
}
